# 忽略整个 .godot/ 目录，它包含编辑器数据和缓存
.godot/

# 忽略Android构建模板
android/

# 忽略插件文件夹
addons/

# 忽略导出文件夹
build/

# 忽略项目根目录下可能生成的特定文件
*.translation
*.remap

# 可选：如果你不希望提交导出模板，可以忽略 export_presets.cfg
export_presets.cfg
